{% extends "admin/import_export/base.html" %}
{% load i18n %}
{% load admin_urls %}
{% load import_export_tags %}

{% block breadcrumbs_last %}
{% trans "Export" %}
{% endblock %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %} 
    <fieldset class="module aligned">
      <h2>내보내기 옵션</h2>
      {% for field in form %}
        {% if "resource_" not in field.label_tag %}
          <div class="form-row"> 
            {{ field.errors }}

            {{ field.label_tag }}

            {{ field }}

            {% if field.field.help_text %}
            <p class="help">{{ field.field.help_text|safe }}</p>
            {% endif %} 
          </div>
        {% endif %}
      {% endfor %}
      <h2>내보낼 필드 선택</h2>
      <div class="form-row">
        <button type="button" onclick="toggleAllCheckBoxes(true)">전체 선택</button>
        <button type="button" onclick="toggleAllCheckBoxes(false)">전체 해제</button>
      </div> 
      {% for field in form %}
        {% if "resource_" in field.label_tag %}
          <div class="form-row"> 
            {{ field.errors }}

            {{ field.label_tag }}

            {{ field }}

            {% if field.field.help_text %}
            <p class="help">{{ field.field.help_text|safe }}</p>
            {% endif %} 
          </div>
        {% endif %}
      {% endfor %}
    </fieldset>
    

    <div class="submit-row">
      <input type="submit" class="default" value="{% trans "Submit" %}">
    </div>
</form>
{% endblock %}

{% block footer %}
<script type="text/javascript">
  const toggleAllCheckBoxes = (toggle) => {
    checkboxes = document.querySelectorAll('input[name*=resource_]');
    for(let checkbox of checkboxes) {
      checkbox.checked = toggle
    }
  }
</script>
{% endblock %}
 